<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title></title>
    <link rel="stylesheet" href="/stylesheets/style_index.css" />
  </head>
  <body>
    <div class="container">
      <div class="login">
        <form action="POST" class="login-form">
          <input type="email" name="email" id="email" />
          <input type="password" name="password" id="password" />
          <button type="submit" class="btn-send">login</button>
          <button class="btn-signup">signup</button>
        </form>
      </div>
      <div class="signup">
        <form action="POST" class="login-form">
          <input type="email" name="email" id="email" />
          <input type="password" name="password" id="password" />
          <button type="submit" class="btn-send"></button>
          <button class="btn-signin">signin</button>
        </form>
      </div>
    </div>
  </body>
</html>
