<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>COVID19 MAP</title>
    <link rel="stylesheet" href="/stylesheets/style_index.css" />
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src ="js/index.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="login">
        <div class = "error-message">
          <% if(locals.message) {%>
            <%= message %>
            <% }%>
      </div>
        <form action="login" class="form-style" method="POST">
          <input type="email" name="email" id="email" placeholder="Email"/>
          <input type="password" name="password" id="password" placeholder="password" />
          <input type="submit" class="btn-send" value="로그인"/>
          <input type = "button" class="btn-signup" value = "회원가입">
        </form>
      </div>
      <div class="signup unvisible">
        <div class = "error-message">
          <% if(locals.message) {%>
            <%= message %>
            <% }%>
      </div>
        <form action="register" class="form-style" method="POST">
          <input type="email" name="email" id="email" placeholder="Email" />
          <input type="password" name="password" id="password" placeholder="password" />
          <input type="text" name="age" id="age" placeholder="Age" />
          <select name="address" id = "address">
            <option value="제주" selected = "selected">제주</option>
            <option value="경남">경남</option>
            <option value="경북">경북</option>
            <option value="전남">전남</option>
            <option value="전북">전북</option>
            <option value="충남">충남</option>
            <option value="충북">충북</option>
            <option value="강원">강원</option>
            <option value="경기">경기</option>
            <option value="경기">세종</option>
            <option value="서울">서울</option>
            <option value="울산">울산</option>
            <option value="대전">대전</option>
            <option value="광주">광주</option>
            <option value="인천">인천</option>
            <option value="대구">대구</option>
            <option value="부산">부산</option>
          <input type="submit" class="btn-send" value = "회원가입"/>
          <input type = "button" class="btn-signin" value = "로그인으로">
        </form>
      </div>
    </div>
  </body>
</html>
