<!DOCTYPE html>
<html>
<head>
    <title>KNUmap</title>
    <link rel="stylesheet" href="/stylesheets/style.css"></link>
    <!--네이버 api-->
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=vm7h6uk881"></script>

    <!-- local Data Script -->
    <script type="text/javascript" src="/data/data.js"></script>
    <script type="text/javascript" src="/data/covid19data.js"></script>
    <script type="text/javascript" src="/data/dust10data.js"></script>
    <script type="text/javascript" src="/data/dust25data.js"></script>

    <!-- Jqeury && Axios Script -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <!-- main.js -->
    <script src="../public/js/main.js"></script>
   
</head>
<body>

    <div id="banner">
      <a href="/"><img src="/images/knu_logo.png" alt="경북대학교"></a>
      <ul class="navbar">
        <% if(!loggedIn) { %>
        <li class="nav-item">
          <a class="navlink" href = "/login">Register&Login</a>
        </li>
        <% } %>
        <% if(loggedIn) { %>
        <li class="nav-item">
          <a class="navlink" href = "/logout">Logout</a>
        </li>
        <% } %>
      </ul>
    </div>
    <div id="box">
      <div class=textForWhiteBar>
          <div id="total"></div>
      </div>
      <div class=textForWhiteBar>
        <p id="time1"></p>
      </div>
    </div>
    <% if(loggedIn) { %>
      <div id="location">
        <p id="locname" style = "font-weight: bold;"></p>
        <p id="locincdec">확진자수:</p>
        <p id="locpm10">pm10:</p>
        <p id="locpm25">pm25:</p>
        <p id="warning"></p>
      </div>
      <% } %>
    <div id="map"></div>
    <div id="pano"></div>
    <div id="current"></div>
  <script>
    let user_location; // 사용자 위치 정보
    let user_age; // 사용자 나이 정보

    // 사용자 정보 가져오기
    axios.get('/user/info').then(res=>{
      user_location = res.data.address;
      user_age = res.data.age;
     
      for(var i in data)
    {
  var num = parseInt(i);
  var target =data[i];
  var dust10data=dust10[num];
  var dust25data=dust25[num];
  num=num+1;
  var covid19data=covid19[num];

if(user_location==target.location)
{
  document.getElementById("locname").innerHTML=user_location; 
  document.getElementById("locincdec").innerHTML='확진자수: ' +covid19data; 
  document.getElementById("locpm10").innerHTML='pm10: ' +dust10data; 
  document.getElementById("locpm25").innerHTML='pm25: ' +dust25data; 
    if(dust10data<30 & dust25data<15 & covid19data<10)//미세먼지&초미세먼지 좋음
    {
      document.getElementById("warning").innerHTML="안전"; 
    }
  else if(30<=dust10data<80 & 15<=dust25data<36 & covid19data<50)//미세먼지&초미세먼지 보통
    {
      document.getElementById("warning").innerHTML="보통"; 
      if(user_age>65)//고연령자일시 상향조정
      document.getElementById("warning").innerHTML="위험"; 
    }
    else if(80<=dust10data<150 | 36<=dust25data<76 | 50<=covid19data<100)//미세먼지&초미세먼지 나쁨
    {
      document.getElementById("warning").innerHTML="위험"; 
      if(user_age>65)//고연령자일시 상향조정
      document.getElementById("warning").innerHTML="외출X"; 
    }
    if(dust10data>=150 | dust25data>=76 |covid19data>=100)//미세먼지&초미세먼지 매우 나쁨
    {
      document.getElementById("warning").innerHTML="외출X"; 
    }
    if(dust10data<0 | dust25data<0 | covid19data<0)
    {
      document.getElementById("warning").innerHTML=ERROR; 
    }
}
}
    });

    var mapOptions = {
  center: new naver.maps.LatLng(35.88881288743205, 128.61029197352346),//경북대학교 gps
  zoom: 8
};
var map = new naver.maps.Map('map', mapOptions);//맵 생성
var markerList =[];//마커들
var infowindowList =[];// 마커 클릭시 인포메이션
var totalCase = 0; //총 확진자 수

for(var i in data)
{
  var num = parseInt(i);
var target =data[i];
var dust10data=dust10[num];
var dust25data=dust25[num];
num=num+1;
var covid19data=covid19[num];

totalCase = covid19[18];

 var latlng =new naver.maps.LatLng(target.lat, target.lng);

 if(covid19data > 100){
 content= "<div class='markerhigh'></div>"
 }

 else if(covid19data >= 30){
 content= "<div class='markermid'></div>"
 }

 else if(covid19data >= 0){
 content= "<div class='markerlow'></div>"
 }

 console.log(covid19data);

 marker = new naver.maps.Marker({
     map:map,
     position: latlng,
     icon:{
         content: content,
         anchor : new naver.maps.Point(20,20)
     },
 });
 //infowindow 내용
  var content =`<div class='infowindow_wrap'>
<div class ='infowindow_location' style = "font-weight: bold;">${target.location}</div>
<div class ='infowindow_incDec'>확진자수 : ${covid19data}</div>
<div class ='infoBarLine'></div>
<div class ='infowindow_dustpm10'>pm 10 : ${dust10data} ppm</div>
<div class ='infowindow_dustpm25'>pm 2.5 : ${dust25data} ppm</div>
</div>`

  //infowindow 디자인
  var infowindow = new naver.maps.InfoWindow({
      content:content,
      backgroundColor: "#00ff0000",
      borderColor: "#00ff0000",
      anchorSize: new naver.maps.Size(0,0)
  })
  //마커와 인포메이션 매칭
  markerList.push(marker);
  infowindowList.push(infowindow);
}
  
//클릭이벤트 추가
for(var i =0, ii=markerList.length; i<ii; i++){
naver.maps.Event.addListener(map,"click",ClickMap(i));
naver.maps.Event.addListener(markerList[i], "click", getClickHandler(i));
}
//맵 클릭시 info 닫음
function ClickMap(i){
return function(){
  var infowindow =infowindowList[i];
  infowindow.close();
}
}
//마커 클릭시 해당하는 info 열기
function getClickHandler(i){
return function(){
  var marker =markerList[i];
  var infowindow= infowindowList[i];
  if(infowindow.getMap())//열려있을떄
  {
      infowindow.close();
  }
  else//닫혀있을떄
  {
      latlng=marker.position;
      infowindow.open(map,marker); 
  }
}
}

//총 확진자 수
function getTotalCase()
{
  document.getElementById("total").innerHTML= "총 확진자 수 : " + totalCase;
}
getTotalCase();

//시간
function timer()
{
var today=new Date();
var time1 = today.toLocaleDateString();
var time2 = today.toLocaleTimeString();
document.getElementById("time1").innerHTML= "현재시간 : " + time1 + " " + time2;
setTimeout('timer()',1000);
}
timer();

//현재 위치 확인
var currentuse= true; // 현재위치 마커 1개만 생성
$("#current").click(() => {
  if("geolocation" in navigator)
  {
      navigator.geolocation.getCurrentPosition(function (position){
          const lat = position.coords.latitude;
          const lng = position.coords.longitude;
          const latlng = new naver.maps.LatLng(lat,lng);
          if(currentuse){

        
          marker= new naver.maps.Marker(
              {
                  map: map,
                  position: latlng,
                  icon: {
                      content: "<div class='currentpostion'></div>",
                  }
              }
          );
      }
      currentuse=false;
          map.setZoom(17,false);
          map.panTo(latlng);
      });
  }
  else{
      alert("위치정보 사용 불가");
  } 
});

  </script>
</body>

</html>