body {
  padding :0px !important;
  margin: 0px !important;
  width: 100%;
  height: 100%;

}
html{
  width: 100%;
  height: 100%;

}
#banner {
  height: 100px;
  background-image: url(../images/main_back.png);
  color: white;
  font-weight: bolder;
  font-size:larger;
  display:flex;
  justify-content: center;
  align-items: center;

}
#map{
    float:left;
    width: 100%;
    height:95%;
}

#box
{
  position: absolute;
  top:8%;
  left:1%;
  z-index: 100;
  background-color: white;
  padding:0px 5px;
  border: 1px solid black;
  border-radius: 15px;
  text-align:left;
  width: 300px;
  height: auto;
}
#current
{
  position: absolute;
  top: 92%;
  left:1%;
  background-repeat: no-repeat;
  height: 30px;
  width: 30px;
  padding: 10px;
  background-color: white;
  background-image: url(../images/current_position_icon.jpg);
  border: 1px solid black;
  border-radius: 50px;
  cursor: pointer;
  font-weight: bolder;
}
.markerhigh
{
  width:70px;
  height:70px;
  border-radius: 50%;
  opacity:0.7;
  background: red;
}
.markermid
{
  width:55px;
  height:55px;
  border-radius: 50%;
  opacity:0.7;
  background: yellow;
}
.markerlow
{
  width:40px;
  height:40px;
  border-radius: 50%;
  opacity:0.7;
  background: yellowgreen;
}
.infowindow_wrap
{
  background:white;
  padding: 10px;
  width : auto;
}

.currentpostion
{
  background:red;
  border: 1px solid white;
  width:10px;
  height:10px;
  border-radius: 10px;
  display:block;
  cursor: pointer;
  box-shadow:red;
  animation :pulse 1s infinite;
}

@keyframes pulse{
  0%{
    box-shadow:0 0 0 0 rgba(204,49,44,0.4);
  }

  70%{
    box-shadow:0 0 0 10px rgba(204,49,44,0);
  }

  100%
  {
    box-shadow:0 0 0 0 rgba(204,49,44,0);
  }
}

.roadmarker{
  background:blue;
  opacity:0.4;
  width:20px;
  height:20px;
  border-radius: 20px;
  display:block;
  cursor: pointer;
  box-shadow:blue;
  animation :pulse 1s infinite;

}
.restmarker{
  background:green;
  opacity:0.4;
  width:20px;
  height:20px;
  border-radius: 20px;
  display:block;
  cursor: pointer;
  box-shadow:blue;
  animation :pulse 1s infinite;

}
.imgs{
  width:250px;
  height:300px;
  
}

.textForWhiteBar{
  font-family: "Graphik SemiBold","Arial",Sans-Serif;
	padding: 0 0 .63em 0;
	font-size: 0.9rem;
	color: #0a0a0a;
	text-decoration: none;
	text-transform: none;
	line-height: 1em;
	display: inline-block;
	width: 100%;
	font-weight: 700;
  margin: 5px;
}

.infoBarLine{
  width: 100%;
  border: 0.1px solid rgb(58, 58, 58);
  margin-top: 2px;
}

#location
{
  position: absolute;
  top:8%;
  right:1%;
  z-index: 100;
  background-color: white;
  padding:0px 5px;
  border: 1px solid black;
  border-radius: 15px;
  text-align:left;
  width: auto;
  height: auto;
}