
body{
  margin:0;
  line-height: 1.5em;
  color:#222;
  height: 100vh;
  background-color: #eee;
}

.container{
}
.container > div{
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  opacity: 1;
}
.unvisible{
  visibility: hidden;
}
.error-message{
  position:absolute;
  left:50%;
  top:20%;
  transform: translateX(-50%);
  font-weight: bold;
  font-size: 12px;
  width: 100%;
  text-align: center;
}

 /* @@@@@@@@@@@@@@ form css @@@@@@@@@@@@ */

.login{
  width: 1095px;
  height: 552px;
  text-align: center;
  background-color: #fff;
  padding-top:130px;
  border-radius: 10px;
  border:1px solid #222;
  transition:0.3s;
}
.login_left{
  float:left;
  width: 547px;
  height: 497px;
}
.login_right{
  float: right;
  width: 546px;
  height: 550px;
}
.login_line{
  width: 80%;
  margin-left: 50px;
  margin-top: 20px;
  margin-bottom: 30px;
  border: 0.2px solid rgb(179, 179, 179);
}

.form-style{

}
.form-style > input[type=email],
.form-style > input[type=password],
.form-style > input[type=text]{
  display:block;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 70%;
  padding:10px;
  margin:auto;
  margin-bottom: 20px;
  display:block;
  transition:0.3s;
}
.form-style > input[type=email]:hover,
.form-style > input[type=password]:hover,
.form-style > input[type=email]:focus,
.form-style > input[type=password]:focus,
.form-style > input[type=text]:focus,
.form-style > input[type=text]:hover{
  border:1px solid #1db1f0;
  box-shadow: 0 0 5px #0088cc;
  outline: none;
}
.form-style > input[type=email]:focus::placeholder,
.form-style > input[type=password]:focus::placeholder,
.form-style > input[type=text]:focus::placeholder{
  opacity: 0;
}


.form-style > button{
  cursor:pointer;
  border:none;
  text-transform: uppercase;
  width: 300px;
  padding:10px;
  background-color: dodgerblue;
  border-radius: 10px;
}

.signup{
  width: 500px;
  height: 600px;
  text-align: center;
  background-color: #fff;
  padding-top:100px;
  border-radius: 10px;
  border:1px solid #222;
  transition:0.3s;
}

.form-style > input[type=button],
.form-style > input[type=submit]{
  cursor:pointer;
  border:none;
  text-transform: uppercase;
  width: 400px;
  padding:10px;
  margin: 10px;
  background-color: dodgerblue;
  color: white;
  border-radius: 10px;
  text-align: center;
}

select[name="address"]{
  display:block;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 74.5%;
  padding:10px;
  margin:auto;
  margin-bottom: 20px;
  display:block;
  transition:0.3s;
}

.textAboveInput{
  margin-right: 250px;
  font-family: "Graphik SemiBold","Arial",Sans-Serif;
	padding: 0 0 .63em 0;
	font-size: 0.9rem;
	color: #4a4a4a;
	text-decoration: none;
	text-transform: none;
	line-height: 1em;
	display: inline-block;
	max-width: 100%;
	font-weight: 700;
}