body {
  padding :0px !important;
  margin: 0px !important;
  width: 100%;
  height: 100%;

}
html{
  width: 100%;
  height: 100%;

}
#banner {
  height:5%;
  background-color: black;
  color: white;
  font-weight: bolder;
  font-size:larger;
  display:flex;
  justify-content: center;
  align-items: center;

}
#map{
    float:left;
    width: 100%;
    height:95%;
}

#box
{
  position: absolute;
  top:8%;
  left:1%;
  z-index: 100;
  background-color: white;
  padding:0px 5px;
  border: 1px solid black;
  border-radius: 15px;
  text-align:center;
}
#current
{
  position: absolute;
  top: 92%;
  left:1%;
  z-index:100;
  background-color: white;
  padding:5px;
  border: 1px solid black;
  border-radius: 15px;
  text-align:center;
  cursor: pointer;
  font-weight: bolder;
}
.marker
{
  width:40px;
  height:40px;
  opacity:0.5;
  background: black;
}
.infowindow_wrap
{
  background:white;
  padding: 10px;
}

.currentpostion
{
  background:red;
  border: 1px solid white;
  width:10px;
  height:10px;
  border-radius: 10px;
  display:block;
  cursor: pointer;
  box-shadow:red;
  animation :pulse 1s infinite;
}

@keyframes pulse{
  0%{
    box-shadow:0 0 0 0 rgba(204,49,44,0.4);
  }

  70%{
    box-shadow:0 0 0 10px rgba(204,49,44,0);
  }

  100%
  {
    box-shadow:0 0 0 0 rgba(204,49,44,0);
  }
}

.roadmarker{
  background:blue;
  opacity:0.4;
  width:20px;
  height:20px;
  border-radius: 20px;
  display:block;
  cursor: pointer;
  box-shadow:blue;
  animation :pulse 1s infinite;

}
.restmarker{
  background:green;
  opacity:0.4;
  width:20px;
  height:20px;
  border-radius: 20px;
  display:block;
  cursor: pointer;
  box-shadow:blue;
  animation :pulse 1s infinite;

}
.imgs{
  width:250px;
  height:300px;
  
}